html {
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
}

body {
  padding-left: 1.563em;
  padding-right: 1.563em;
}

h1 {
  font-family: "Irish Grover", system-ui;
  font-size: 2.55em;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin-top: 1.8em;
}

h2 {
  font-family: "Irish Grover", system-ui;
  font-size: 1.2em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

.add-habit-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-add-habit {
  margin-top: 0.7em;
  padding: 12px 51px;
  border-radius: 8px;
  border: 0;
  font-size: 1em;
}

.btn-add-habit.cancel {
  background: 0;
}

.btn-add-habit.valid {
  background-color: #14AE5C;
  color: white;
}

.input {
  padding: 9px 13px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}
