h1 {
  font-family: "Irish Grover", system-ui;
  font-size: 2.25em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}
