/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}




* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
}

body {
  padding-left: 1.563em;
  padding-right: 1.563em;
}

header {
  overflow: auto;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-family: "Irish Grover", system-ui;
  font-size: 2.55em;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

h2 {
  margin-top: 2em;
  font-family: "Irish Grover", system-ui;
  font-size: 1.2em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

.btn {
  border: 0;
  padding: 0;
}



.add-habit-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-add-habit {
  margin-top: 0.7em;
  padding: 12px 51px;
  border-radius: 8px;
  border: 0;
  font-size: 1em;
}

.btn-add-habit.cancel {
  background: 0;
}

.btn-add-habit.valid {
  background-color: #14ae5c;
  color: white;
}

.input {
  padding: 9px 13px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.current-habits {
  margin-top: 30px;
}
/**
  * Habit component styles
  */
.habit {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 15px 4px;
  border-top: 1px solid #d9d9d9;
}

.habit:last-of-type {
  border-bottom: 1px solid #d9d9d9;
}

.habit svg {
  width: 25px;
  height: 25px;
  background: white;
}

.habit .main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px 4px;
  border-top: 1px solid #d9d9d9; */
}

.habit.done .indicator {
  color: #14ae5c;
}

ul.partial-indicators {
  margin-top: 20px;
  padding-left: 0;
  display: flex;
  gap: 10px 19px;
  flex-wrap: wrap;
  color: #14ae5c;
}

ul.partial-indicators li {
  list-style: none;
}